{% extends "base.html" %}
{% block head_block %} {% endblock %}
{% block body_block %}
<div class="container">  
    <br/>
    <h1 class="float-right"> Attendance Details </h1> 
    <br/>
    <form class="mt-5" method="POST" action="/hr_attendances/new_attendance/" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <a class="btn btn-dark" href="/hr_attendances/show_attendance"><i class="fa fa-arrow-left" 
                aria-hidden="true"></i> Back</a>
            <a class="btn btn-primary" href="/hr_attendances/update/{{attendance.id}}/"> Update </a>
            <a class="btn btn-danger" href="/hr_attendances/delete/{{attendance.id}}/"
                onclick="return confirm('Are you sure?');"> Delete </a>
        </div>
        <br/>

        <div class="form-row">
            <div class="col-md-6 form-group">
                <div class="row">
                    <label class="col-md-3 font-weight-bold"> Name </label>
                    <div class="col-md-9">
                        {{attendance.name}}
                    </div>
                </div>
            </div>

            <div class="col-md-6 form-group">
                <div class="row">
                    <label class="col-md-3 font-weight-bold"> Sequence </label>
                    <div class="col-md-9">
                        {{attendance.sequence}}
                    </div>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-6 form-group">
                <div class="form-row">
                    <label class="col-md-3 font-weight-bold"> Signin Time </label>
                    <div class="col-md-9">
                        {{attendance.signin_time}}
                    </div>
                </div>
            </div>

            <div class="col-md-6 form-group">
                <div class="form-row">
                    <label class="col-md-3 font-weight-bold"> Signout Time </label>
                    <div class="col-md-9">
                        {{attendance.signout_time}}
                    </div>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-6 form-group">
                <div class="form-row">
                    <label class="col-md-3 font-weight-bold"> Note </label>
                    <div class="col-md-9">
                        {{attendance.note}}
                    </div>
                </div>
            </div>

            <div class="col-md-6 form-group">
                <div class="form-row">
                    <label class="col-md-3 font-weight-bold"> Status </label>
                    <div class="col-md-9">
                        {{attendance.status}}
                    </div>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-6 form-group">
                <div class="form-row">
                    <label class="col-md-3 font-weight-bold"> Time </label>
                    <div class="col-md-9">
                        {{attendance.time}}
                    </div>
                </div>
            </div>

            <div class="col-md-6 form-group">
                <div class="form-row">
                    <label class="col-md-3 font-weight-bold"> Attachment </label>
                    <div class="col-md-9">
                        {{attendance.attachment}}
                    </div>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-6 form-group">
                <div class="form-row">
                    <label class="col-md-3 font-weight-bold"> Active </label>
                    <div class="col-md-9">
                        {{attendance.is_active}}
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}