{% extends "base.html" %}
{% block head_block %} {% endblock %}
{% block body_block %}
<div class="container">  
    <br/>
    <h1 class="float-right"> Expense Details </h1> 
    <br/>
    <form class="mt-5" method="POST" action="/hr_expenses/new_expense/" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <a class="btn btn-dark" href="/hr_expenses/show_expense"><i class="fa fa-arrow-left" 
                aria-hidden="true"></i> Back</a>
            <a class="btn btn-primary" href="/hr_expenses/update/{{expense.id}}/"> Update </a>
            <a class="btn btn-danger" href="/hr_expenses/delete/{{expense.id}}/"
                onclick="return confirm('Are you sure?');"> Delete </a>
        </div>
        <br/>

        <div class="form-row">
            <div class="col-md-6 form-group">
                <div class="row">
                    <label class="col-md-3 font-weight-bold"> Name </label>
                    <div class="col-md-9">
                        {{expense.name}}
                    </div>
                </div>
            </div>

            <div class="col-md-6 form-group">
                <div class="row">
                    <label class="col-md-3 font-weight-bold"> Sequence </label>
                    <div class="col-md-9">
                        {{expense.sequence}}
                    </div>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-6 form-group">
                <div class="form-row">
                    <label class="col-md-3 font-weight-bold"> Product </label>
                    <div class="col-md-9">
                        {{expense.product}}
                    </div>
                </div>
            </div>

            <div class="col-md-6 form-group">
                <div class="form-row">
                    <label class="col-md-3 font-weight-bold"> Price </label>
                    <div class="col-md-9">
                        {{expense.price}}
                    </div>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-6 form-group">
                <div class="form-row">
                    <label class="col-md-3 font-weight-bold"> Note </label>
                    <div class="col-md-9">
                        {{expense.note}}
                    </div>
                </div>
            </div>

            <div class="col-md-6 form-group">
                <div class="form-row">
                    <label class="col-md-3 font-weight-bold"> Status </label>
                    <div class="col-md-9">
                        {{expense.status}}
                    </div>
                </div>
            </div>
            
        </div>

        <div class="form-row">
            <div class="col-md-6 form-group">
                <div class="form-row">
                    <label class="col-md-3 font-weight-bold"> Total </label>
                    <div class="col-md-9">
                        {{expense.total}}
                    </div>
                </div>
            </div>

            <div class="col-md-6 form-group">
                <div class="form-row">
                    <label class="col-md-3 font-weight-bold"> Attachment </label>
                    <div class="col-md-9">
                        {{expense.attachment}}
                    </div>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-6 form-group">
                <div class="form-row">
                    <label class="col-md-3 font-weight-bold"> Reason </label>
                    <div class="col-md-9">
                        {{expense.reason}}
                    </div>
                </div>
            </div>

            <div class="col-md-6 form-group">
                <div class="form-row">
                    <label class="col-md-3 font-weight-bold"> Quality </label>
                    <div class="col-md-9">
                        {{expense.quality}}
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}