{% extends 'base.html' %}
{% block head_block %} {% endblock %}
{% block body_block %}
<div class="container">
    <br/>
    <h1 class="float-right"> Create Resume </h1>
    <br/>
    <form method="POST" action="{% url 'resume_create' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <a href="javascript:history.back()" class="btn btn-dark"> 
                <i class="fa fa-arrow-left" aria-hidden="true"></i> Back </a>
            <input type="submit" value="Save" class="btn btn-primary">
        </div>
        {{ form.as_p }}
    </form>
</div>
{% endblock %}